.FoodTableContainer{
    -webkit-box-shadow: 2px 2px 9px -3px #000000; 
    box-shadow: 2px 2px 9px -3px #000000;
    padding: 20px;
    margin: 20px;
}

.FoodTableTitle{
    font-weight: 500;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}